body { background-color:#FFFFFF;
       color:#2b2a2a;
       font-family:Arial, Tahoma, sans-serif; text-align: left; margin: 1em;
       margin-top: 50px;
       margin-bottom: 25px;
       margin-right: 150px;
       margin-left: 150px;
}

header { background-color:#FFFFFF;
       color:#c9c9c9;
	text-shadow: 1px 1px #000000;
	padding: 0px;
       font-family:Arial, "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 1.75em; text-align: center;
}


H3 {   
padding: 0px;
margin-top: 75px;
margin-bottom: 25px;
color: #A9A9A9;
}

.navigation-bar   {
	background-color: #FFFFFF;
	height: 50px;
	width: 100%;
}

.navigation-bar ul   {
	padding: 0px;
	margin: 0px;
  text-align:center;
}

.navigation-bar li    {
	list-style-type: none;
	padding: 0px;
	height: 40px;
	margin-top: 4px;
	margin-bottom: 4px;
  display:inline;
}

.navigation-bar li a    {
	color: #2b2a2a;
	font-size: 22px;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 2em;
	margin-right: 16px;
}

.navigation-bar li:first-child {
	margin-left:20px;
}

.navigation-bar a:link {
  color: #000000;
}

.navigation-bar a:visited {
  color: #A9A9A9;
}

.navigation-bar a:hover {
  color: #DCDCDC;
}

.navigation-bar ul li a.active-page {
color: #2F4F4F;
}

Table tr {
	text-transform: uppercase;
	padding-bottom: 1em;
	
}
	
Table td {
	padding-bottom: 1em;
	padding-right: 1em;
}

footer { font-style: italic;
         font-size: .95em;
	text-align: center;
}

